* {
    border: none;
}

.nav-center {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    background-color: #fff;
    padding: 2em;
    margin: 2em;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}
.nav-links li a {
    padding: 0 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #333;
    padding: 2em;
    color: #fff;
    max-width: 900px;
    margin: 2em auto;
}
.block {
    display: block;
}
.btn {
    padding: 20px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
}